<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,mininum-scale=1,maxinum-scale=1">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/index/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/index/css/style.css">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/index/css/index-media.css">
	<title>{$webTitle}</title>
	<meta name="keywords" content="{$webKeywords}">
	<meta name="description" content="{$webDescription}">
	<link rel="icon" href="http://{$_SERVER['HTTP_HOST']}/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="http://{$_SERVER['HTTP_HOST']}/favicon.ico" type="image/x-icon"/>
</head>
<body>
	<!-- nav -->
<div class="container-fluid common-nav">
	<div class="container">
		<div class="header common-logo">
			<a href="{$webUrl}">{$title}</a>
		</div>
		<div class="common-nav-list">
			<ul>
				{volist name="menu" id="menu"}
					<li><a href="{$menu.url}" target="_blank">{$menu.title}</a></li>
				{/volist}
			</ul>
		</div>
		<div class="common-nav-mobile">
			<img src="http://{$_SERVER['HTTP_HOST']}/static/index/img/mobile-menu.png">
		</div>
	</div>
</div>
