<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width,initial-scale=1,mininum-scale=1,maxinum-scale=1">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/admin/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/admin/css/admin.css">
	<link rel="stylesheet" type="text/css" href="http://{$_SERVER['HTTP_HOST']}/static/admin/css/admin-media.css">
	<script src="http://{$_SERVER['HTTP_HOST']}/static/admin/js/jquery-3.2.1.min.js"></script>
	<title>登录</title>
</head>
<body>
	<div class="alert alert-warning jbxx-status">正在更新</div>
	<!-- 导航栏 -->
	<div class="container-fluid">
		<div class="admin-nav">
			<div class="header" style="margin-left:15px;float: left;">
				<a href="{:url('admin/index/index')}">管理员后台</a>
			</div>
			<div class="admin-nav-list">
				<ul>	
					<li><a href="{:url('index/index/index')}" target="_blank">预览首页</a></li>
					<li><a href="{:url('admin/cate/index')}">分类管理</a></li>
					<li><a href="{:url('admin/mz/index')}">名站推荐</a></li>
					<li><a href="{:url('admin/all/index')}">全部站点</a></li>
					<li><a href="{:url('admin/menu/index')}">菜单管理</a></li>
					<li><a href="{:url('admin/seogl/index')}">SEO查询管理</a></li>
					<li><a href="{:url('admin/searchgl/index')}">搜索词语管理</a></li>
					<li><a href="{:url('admin/setting/index')}">系统设置</a></li>
					<li><a href="{:url('admin/index/loginout')}">退出登录</a></li>
				</ul>
			</div>
		</div>
	</div>