{include file="../template/admin/common/header.html"}
<div class="container">
	<ul class="list-group">
		<li class="list-group-item active">
		{$wd}的搜索结果
		<span class="btn btn-sm btn-warning" onclick="window.location.href='{:url("admin/article/index")}'" style="float: right;">
			取消搜索
		</span>
		</li>
		{volist name="searchArr" id='searchArr'}
		<li class="list-group-item">
			{$searchArr.title}
			<!-- 删除 -->
			<span class="btn btn-sm btn-danger del-btn" style="float: right;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/del",["id"=>$searchArr.id])}','删除')">
					删除
				</a>
			</span>
			<!-- 编辑 -->
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="{:url('admin/article/edit',['id'=>$searchArr.id])}">
					编辑
				</a>
			</span>
			<!-- 预览 -->
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="window.open('http://{$_SERVER["HTTP_HOST"]}{:url("index/addarticle/look",["id"=>$searchArr.id])}')">
					预览
				</a>
			</span>
			<!-- 审核 -->
			{if $searchArr.status eq 0}
			<span class="btn btn-sm btn-warning del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/status",["id"=>$searchArr.id])}','状态更改')">
					审核
				</a>
			</span>
			{else /}
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/status",["id"=>$searchArr.id])}','状态更改')">
					取消审核
				</a>
			</span>
			{/if}
		</li>
		{/volist}
		{$pageination->render()}
	</ul>
</div>
{include file="../template/admin/common/footer.html"}