{include file="../template/admin/common/header.html"}
<div class="container">
	<!-- 搜索 -->
	<div class="search">
		<form action="{:url('admin/searchs/article')}" method="get" class="form-inline" style="text-align: center;">
			<input type="text" name="search" class="form-control">
			<input type="submit" value="搜索" class="btn btn-success">
		</form>
	</div><br>
	<ul class="list-group">
		<li class="list-group-item active">
			<a href="{:url('admin/article/nogo')}" class="btn del-btn">
				查看所有未审核
			</a>
			<span class="btn btn-sm btn-warning" style="float: right;" onclick="insert()">添加</span>
		</li>
		{volist name="articleArr" id="articleArr"}
		<li class="list-group-item">
			{$articleArr.title}
			<!-- 删除 -->
			<span class="btn btn-sm btn-danger del-btn" style="float: right;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/del",["id"=>$articleArr.id])}','删除')">
					删除
				</a>
			</span>
			<!-- 编辑 -->
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="{:url('admin/article/edit',['id'=>$articleArr.id])}">
					编辑
				</a>
			</span>
			<!-- 预览 -->
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="window.open('http://{$_SERVER["HTTP_HOST"]}{:url("index/addarticle/look",["id"=>$articleArr.id])}')">
					预览
				</a>
			</span>
			<!-- 审核 -->
			{if $articleArr.status eq 0}
			<span class="btn btn-sm btn-warning del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/status",["id"=>$articleArr.id])}','状态更改')">
					审核
				</a>
			</span>
			{else /}
			<span class="btn btn-sm btn-success del-btn" style="float: right;margin-right: 10px;">
				<a href="javascript:" onclick="getFw('{:url("admin/article/status",["id"=>$articleArr.id])}','状态更改')">
					取消审核
				</a>
			</span>
			{/if}
		</li>
		{/volist}
		{$pageination->render()}
	</ul>
	<!-- 添加 -->
	<h3 id="insert-map">添加</h3>
	<form action="{:url('admin/article/insert')}" method="post" onsubmit="return article($(this));">
			<div class="form-inline">
				<label>文章来源(超链接)：</label>
				<input type="text" name="source" class="form-control" id="source">&nbsp;&nbsp;
				<label>作者名称：</label>
				<input type="text" name="username" class="form-control" id="username" value="帅阿猪">&nbsp;&nbsp;
				<label>联系方式(邮箱电话或者qq)：</label>
				<input type="text" name="lianxi" class="form-control" id="lianxi">&nbsp;&nbsp;
			</div><br>
			<div class="form-group">
				<label>文章标题*</label>
				<input type="text" name="title" class="form-control" id="title">
			</div>		
			<div class="form-group">
				<label>文章内容*</label>
				<div id="content"></div>
			</div>
			<div class="form-group">
				<label>关键词(英文逗号分割，否则识别失败)：</label>
				<input type="text" name="keywords" class="form-control" id="keywords">
			</div>
			<div class="form-group">
				<label>描述(不输入则没有描述)：</label>
				<textarea name="description" id="description" class="form-control"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" value="提交" class="btn btn-success" id="btns">
			</div>
	</form>
</div>
<!-- 引入wangEdit -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="http://{$_SERVER['HTTP_HOST']}/static/index/js/jquery.session.js"></script>
<script src="http://{$_SERVER['HTTP_HOST']}/static/index/js/wangEditor.min.js"></script>
<script type="text/javascript">
	var E = window.wangEditor
	var editor2 = new E('#content')
	editor2.create()

// 文章
function article(e){
	// 获得标题
	var title 		= 	$("#title").val();
	//	来源	
	var source 		=	$('#source').val();
	// 内容
	var content		=	editor2.txt.html();
	// 	关键词
	var keywords	=	$("#keywords").val();
	// 联系方式
	var lianxi		=	$("#lianxi").val();
	// 名称
	var username	=	$('#username').val();
	// 获得action
	var url 		= 	e.attr('action');
	// 获得描述
	var description =	$("#description").val();

	var tips 		=	$('.alert');


	// 判断是否为空
	if(title.length == 0){
		tips.html('标题不能为空').fadeIn(500);
		setTimeout(tips.fadeOut(1000),3000);
		return false;
	}
	if(content.length == 11){
		tips.html('内容不能为空').fadeIn(500);
		setTimeout(tips.fadeOut(1000),3000);
		return false;
	}
	if(username.length == 0){
		tips.html('作者不能为空').fadeIn(500);
		setTimeout(tips.fadeOut(1000),3000);
		return false;
	}

	// 设置为禁止点击
	$('#btns').css('disabled',true);

	// 取消点击
	setTimeout(function(){
		$('#btns').css('disabled',false);
	},2000);

	// 发送post
	$.ajax({
		type:'post',
		url:url,
		data:{'title':title,'source':source,'content':content,'keywords':keywords,'description':description,'lianxi':lianxi,'username':username},
		success:function(msg){
			console.log(msg);
			if(msg['code'] == 1){
				tips.html('添加成功').fadeIn(500);
				setTimeout(function(){
					window.location.href = location.href;
				},2000);
				
			}else{
				tips.html('添加失败').fadeIn(500);
			}
			setTimeout(tips.fadeOut(1000),3000);
		}
	});

	return false;
}	
</script>
{include file="../template/admin/common/footer.html"}