{include file="../template/admin/common/header.html"}
<div class="container">
	<div class="admin-index-title">
		站点统计
	</div>
	<div class="admin-index-content">
		<ul class="list-group">
			<li class="list-group-item">
				名站个数：<a href="{:url('admin/mz/index')}">{$mz}</a>
			</li>
			<li class="list-group-item">
				已审站点：<a href="{:url('admin/all/index')}">{$already}</a>
			</li>
			<li class="list-group-item">
				待审站点：<a href="{:url('admin/all/nogo')}">{$wait}</a>
			</li>
			<li class="list-group-item">
				分类个数：<a href="{:url('admin/cate/index')}">{$cate}</a>
			</li>
			<li class="list-group-item">
				菜单个数：<a href="{:url('admin/menu/index')}">{$menu}</a>
			</li>
			<li class="list-group-item">
				搜索词数量：<a href="{:url('admin/searchgl/index')}">{$search}</a>
			</li>
			<li class="list-group-item">
				SEO查询数量：<a href="{:url('admin/seogl/index')}">{$seo}</a>
			</li>
			<li class="list-group-item">
				文章总量：<a href="{:url('admin/article/index')}">{$article}</a>
				已审核：<a href="{:url('admin/article/index')}">{$articleYes}</a>
				未审核：<a href="{:url('admin/article/nogo')}">{$articleNo}</a>
			</li>
		</ul>
		
		<br>
		

	</div>
</div>
{include file="../template/admin/common/footer.html"}