{include file="../template/admin/common/header.html"}
<div class="container">
	
	<div class="admin-mztj">
		<ul class="list-group">
			<li class="list-group-item active">
			所有网址
			<span class="btn btn-sm btn-warning del-btn" style="float: right;">
				<a href="#insert">
					添加
				</a>
			</span>
			</li>
			{volist name="all" id="all"}
			<li class="list-group-item">
				{if $all.fast eq 1}
					<img src="http://{$_SERVER['HTTP_HOST']}/static/admin/img/fast-audit.png" width="20">
				{/if}
				{if $all.status eq 0}
					<img src="http://{$_SERVER['HTTP_HOST']}/static/admin/img/no-audit.png" width="30">
				{else/}
					<img src="http://{$_SERVER['HTTP_HOST']}/static/admin/img/yes-audit.png" width="30">
				{/if}
				{$all.title}-<small>[{$all.url}]</small>
				{if $all.keywords == ''}
					<small style="color: #999;">无关键词</small>
				{/if}
				{if $all.description == ''}
					<small style="color: #999;">无描述</small>
				{/if}
				<!-- <small style="color: #ff0000;" id="status"></small> -->
				<span class="btn btn-sm btn-success del-btn" style="float: right; margin-left: 10px;">
					<a href="{:url('admin/all/del',['id'=>$all.id])}">
						删除
					</a>
				</span>
				<span class="btn btn-sm btn-success del-btn" style="float: right; margin-left: 10px;">
					<a href="{:url('admin/all/edit',['id'=>$all.id])}">
						编辑
					</a>
				</span>
				{if $all.status eq 1}
					<span class="btn btn-sm btn-success del-btn" style="float: right;margin-left: 10px;">
						<a href="{:url('admin/all/status',['id'=>$all.id])}">
							取消审核
						</a>
					</span>
				{else /}
					<span class="btn btn-sm btn-danger del-btn" style="float: right;margin-left: 10px;">
						<a href="{:url('admin/all/status',['id'=>$all.id])}">
							审核
						</a>
					</span>
				{/if}
				<span class="btn btn-sm btn-danger del-btn" style="float: right;" onclick="updateJbxx('{:url("admin/all/jbxx",["type"=>"id","id"=>$all.id])}')">
						更新信息
				</span>
				
			</li>
			{/volist}
			 {$pageination->render()}
		</ul>
	       
	</div>
	
	<!--  -->
	<div class="admin-all-insert">
		<h4>添加</h4><a name="insert"></a>
		<form action="{:url('admin/all/allinsert')}" method="post">
			<div class="form-group">
				<label>分类</label>
				<select name='cate' class="form-control">
					{volist name="cate" id="cate"}
					<option value="{$cate.id}">{$cate.title}</option>
					{/volist}
				</select>
			</div>
			<div class="form-group">
				<label>快速审核</label>
				<select name="fast" class="form-control">
					<option value="0">否</option>
					<option value="1">是</option>
				</select>
			</div>
			<div class="form-group">
				<label>网站标题</label>
				<input type="text" name="title" class="form-control" id="title">
			</div>
			<div class="form-group">
				<label>
					网站URL&nbsp;&nbsp;
					<span class="btn btn-sm btn-warning" id="insertjbxx">获取信息</span>
				</label>
				<input type="text" name="url" class="form-control" id="wurl">
			</div>
			<div class="form-group">
				<label>关键词</label>
				<input type="text" name="keywords" class="form-control" id="keywords">
			</div>
			<div class="form-group">
				<label>描述</label>
				<textarea name="description" class="form-control" id="description"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" type="submit" class="btn btn-success" value="添加">
			</div>
		</form>
	</div>
</div>

{include file="../template/admin/common/footer.html"}